{% extends 'base.html.twig' %}

{% block title %}Explorer: Contacts{% endblock %}

{% block body %}

    {# Start color-accent#}{#
    <div class="color-accent"></div>
    #}{# End color-accent#}
    <section class="contacts_section" id="contact">
        <div class="container">
            <div class="contact" id="contact">
                <div class="contact_section">
                    <h2>Contact Us</h2>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="contact_block">
                                <div class="contact_block_icon rollIn animated wow"><span><i class="fa-home"></i></span></div>
                                <span> 308 Negra Arroyo Lane, <br>
              Albuquerque, NM, 87104 </span> </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="contact_block">
                                <div class="contact_block_icon icon2 rollIn animated wow"><span><i class="fa-phone"></i></span></div>
                                <span> 1-800-BOO-YAHH </span> </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="contact_block">
                                <div class="contact_block_icon icon3 rollIn animated wow"><span><i class="fa-pencil"></i></span></div>
                                <span> <a href="mailto:hello@butterfly.com"> hello@butterfly.com</a> </span> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 wow fadeInLeft">
                        <div class="contact-info-box address clearfix">
                            <h3>Don’t be shy. Say hello!</h3>
                            <p>Accusantium quam, aliquam ultricies eget tempor id, aliquam eget nibh et. Maecen aliquam, risus at semper. Accusantium quam, aliquam ultricies eget tempor id, aliquam eget nibh et. Maecen aliquam, risus at semper.</p>
                            <p>Accusantium quam, aliquam ultricies eget tempor id, aliquam eget nibh et. Maecen aliquampor id.</p>
                        </div>
                        <ul class="social-link">
                            <li class="twitter animated bounceIn wow delay-02s"><a href="javascript:void(0)"><i class="fa-twitter"></i></a></li>
                            <li class="facebook animated bounceIn wow delay-03s"><a href="javascript:void(0)"><i class="fa-facebook"></i></a></li>
                            <li class="pinterest animated bounceIn wow delay-04s"><a href="javascript:void(0)"><i class="fa-pinterest"></i></a></li>
                            <li class="gplus animated bounceIn wow delay-05s"><a href="javascript:void(0)"><i class="fa-google-plus"></i></a></li>
                            <li class="dribbble animated bounceIn wow delay-06s"><a href="javascript:void(0)"><i class="fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 wow fadeInUp delay-06s">

                        {{ include('forms/contacts_form.html.twig') }}

                        <form method="post"class="form">
                            <input class="input-text animated wow flipInY delay-02s" type="text" name="name" value="Your Name *" onFocus="if(this.value==this.defaultValue)this.value='';" onBlur="if(this.value=='')this.value=this.defaultValue;">
                            <input class="input-text animated wow flipInY delay-04s" type="email" name="email" value="Your E-mail *" onFocus="if(this.value==this.defaultValue)this.value='';" onBlur="if(this.value=='')this.value=this.defaultValue;">
                            <input class="input-text animated wow flipInY delay-04s" type="text" name="phone" value="Your Phone *" onFocus="if(this.value==this.defaultValue)this.value='';" onBlur="if(this.value=='')this.value=this.defaultValue;">
                            <textarea class="input-text text-area animated wow flipInY delay-06s" name="message" cols="0" rows="0" onFocus="if(this.value==this.defaultValue)this.value='';" onBlur="if(this.value=='')this.value=this.defaultValue;">Your Message *</textarea>
                            <input class="input-btn animated wow flipInY delay-08s" type="submit" value="send message">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <footer class="footer_section" id="contact">
        <div class="container">
            <div class="footer_bottom">
                <span>Copyright © 2014 design by <a href="http://w3goods.com">W3Goods</a>.</span>
                <span>Copyright © 2019 <a href="/">Explorer: Great Adventure.</a></span>
                <span>All rights reserved.</span>
                <span>Site developed by <a href="#">Olha Kharabet.</a></span>
            </div>
        </div>
    </footer>

{% endblock %}



