{% extends 'base.html.twig' %}

{% block title %}Explorer: Customers reviews{% endblock %}

{% block body %}
    {# Start color-accent#}{#
    <div class="color-accent"></div>
    #}{# End color-accent#}

    {#<!--
    <section class="main-section paddind" id="Portfolio">
        <div class="container">
            <h2>Portfolio</h2>
            <h6>Fresh portfolio of designs that will keep you wanting more.</h6>
        </div>


    </section>

    -->#}
    {#<!--main-section client-part-start-->#}
    <section class="main-section site-content" id="client_outer">
        <h2>Happy Clients</h2>
        <div class="client_area ">
            <div class="client_section animated  fadeInUp wow">
                <div class="client_profile">
                    <div class="client_profile_pic"><img src="img/client-pic1.jpg" alt=""></div>
                    <h3>Paul Goodman</h3>
                    <span>USA</span> </div>
                <div class="quote_section">
                    <div class="quote_arrow"></div>
                    <p><b><img src="img/quote_sign_left.png" alt=""></b> Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper. <small><img src="img/quote_sign_right.png" alt=""></small> </p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="client_section animated  fadeInDown wow">
                <div class="client_profile flt">
                    <div class="client_profile_pic"><img src="img/client-pic2.jpg" alt=""></div>
                    <h3>Mariel Shtormwind</h3>
                    <span>Canada</span> </div>
                <div class="quote_section flt">
                    <div class="quote_arrow2"></div>
                    <p><b><img src="img/quote_sign_left.png" alt=""></b> Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper. <small><img src="img/quote_sign_right.png" alt=""></small> </p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </section>
    {#<!--main-section client-part-end-->#}

    {# Start color-accent#}{#
    <div class="color-accent"></div>
    #}{# End color-accent#}
    {% include 'footer.html.twig' %}

{% endblock %}
