{% extends 'base.html.twig' %}

{% block body %}
    {#<!--Top_content-->#}
    <section id="homepage_section" class="homepage_content_outer">
        <div class="homepage_content_inner">
            <div class="site-content container-fluid">
                <div class="homepage_content">
                    <div class="row">
                        <div class="col-lg-5 col-sm-7">
                            <div class="homepage_left_content flipInY wow animated">
                                <h4>Colourful &amp; amazing!</h4>
                                <h2>organizing your new exciting journey is truly important for us</h2>
                                <p> Accusantium quam, aliquam ultricies eget tempor id, aliquam eget nibh et. Maecen aliquam, risus at semper. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum. </p>
                                <a href="/services" class="link_button learn_more">Learn more</a> </div>
                        </div>
                        <div class="col-lg-7 col-sm-5"> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {#<!--Top_content-->#}

    {% include 'footer.html.twig' %}
{% endblock %}
