<footer class="footer_section" id="contact">
    {#Start color-accent#}
    <div class="color-accent"></div>
    {#End color-accent#}

    <div class="container">
        <div class="footer_bottom">
            <span>Copyright © 2014 design by <a href="http://w3goods.com">W3Goods</a>.</span>
            <span>Copyright © 2019 <a href="/">Explorer: Great Adventure.</a></span>
            <span>All rights reserved.</span>
            <span>Site developed by <a href="#">Olha Kharabet.</a></span>
        </div>
    </div>
</footer>





